.successful-register.auth
    .successful-register__container.auth-container
        .successful-register__content.auth-content
            +icon("successful")
            h1.successful-register__subtitle Поздравляем!
            h2.successful-register__title Вы успешно зарегистрировались в системе!
            p.successful-register__desc На указанный e-mail отправлен запрос на подтверждение регистрации. Ссылка в письме действительна в течение 24 часов. Обратите внимание, что письмо может автоматически попасть в папку "Оповещения" и другие папки, в зависимости от настроек почтовой системы.
            p.successful-register__desc Если в течение 10 минут письмо не пришло, напишите нам на адрес 
                a.successful-register__link(href="mailto:reg@task.com") reg@task.com.
        .login-footer
            span.footer__copy.login-footer__copy &copy;&nbsp;GuruInterrior 2021-2025
            a.footer-support.login-footer__support(href="tel:84950326687")
                +icon("support2")
                .footer-support__text
                    span.footer-support__desc.login-footer__support-desc Техническая поддержка 24/7
                    span.footer-support__value 8 495 032 66 87