:root {
    --color-white: #fff;
    --color-black: #000;
    --color-accent: #33A1FB;
    --color-blue: #2B69BE;
    --color-dark-gray: #1E3147;
    --color-middle-gray: #788CA1;
    --color-light-dark: #92A0B0;
    --color-purple: #DFE8FF;
    --color-purple2: #95F0F0;
    --color-super-light: #EBEFF2;
    --color-turquoise: #19DAC6;
    --color-yellow: #FFC531;
    --color-red: #E21313;
    --color-pink: #AA3E86;
    --color-green-st: #5AC169;
    --color-super-dark: #232226;
    --color-green: #5AC169;
    --color-blue2: #7FA9FA;
    --color-orange: #FF8D4D;
    --color-orange-bg: #FFE0CC;
    --color-hover: #ff8100;
    --color-violent-gray: #99A3C5;
    --main-bg: #F8F9FC;
    --font-size: 16px;
    --container-size: 1318px;
    --container-gutter: 25px
}