.noUi {
    &-horizontal  {
        height: 8px;
        .noUi-tooltip {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            left: 50%;
            bottom: auto;
            top: calc(100% + 8px);
            border: none;
            font-size: 12px;
            line-height: 16px;
            color: var(--color-middle-gray);
            background: transparent;
        }
    }
    &-connect {
        background-color: var(--color-turquoise);
    }
    &-handle {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        border: 5px solid var(--color-turquoise);
        border-radius: 100%;
        outline: none;
        &:before,
        &:after {
            display: none;
        }
    }
    &-target {
        border: none;
        border-radius: 33px;
        box-shadow: none;
        background: var(--color-super-light);
    }
}
.noUi-horizontal .noUi-handle {
    left: 22px;
    right: 0;
    top: -6px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}