.new-password.auth
    .new-password__container.auth-container
        form.new-password__content.auth-content.validate-form(action="#")
            h1.login-content__title.new-password__title Создание нового пароля
            p.login-content__desc.recovery-content__desc Введите логин или адрес электронной почты
            input.login-content__input.new-password__input(data-validate-field="password" type="password", name="password1" placeholder="Новый пароль" required)
            input.login-content__input.new-password__input(data-validate-field="password2" type="password", name="password2" placeholder="Повторите пароль" required)
            button.btn-reset.login-content__enter.new-password__change Сменить пароль
        .login-footer
            span.footer__copy.login-footer__copy &copy;&nbsp;GuruInterrior 2021-2025
            a.footer-support.login-footer__support(href="tel:84950326687")
                +icon("support2")
                .footer-support__text
                    span.footer-support__desc.login-footer__support-desc Техническая поддержка 24/7
                    span.footer-support__value 8 495 032 66 87