.new-password {
    min-height: 550px;
    &__content {
        flex-direction: column;
        padding: 66px 207px;
        .js-validate-error-label {
            margin-right: auto;
        }
    }
    &__title {
        text-align: center;
    }
}