footer.footer
    .container.footer__container   
        .footer__top 
            .footer__left
                a.logo.footer__logo(href="/") GuruInterrior
                p.footer__desc Создаем отличные команды для проектной деятельности
            ul.footer-list.list-reset
                li.footer-list__item
                    a.footer-list__link(href="#") О проекте
                li.footer-list__item
                    a.footer-list__link(href="#") Реклама
                li.footer-list__item
                    a.footer-list__link(href="#") Публичный договор
                li.footer-list__item
                    a.footer-list__link(href="#") Новости проекта
                li.footer-list__item
                    a.footer-list__link(href="#") Статистика
                li.footer-list__item
                    a.footer-list__link(href="#") Правовая информация
                li.footer-list__item
                    a.footer-list__link(href="#") Инвесторам
                li.footer-list__item
                    a.footer-list__link(href="#") Способы оплаты
                li.footer-list__item
                    a.footer-list__link(href="#") Пункт меню
            .footer__contacts
                a.footer-support(href="tel:84950326687")
                    +icon("support2")
                    .footer-support__text
                        span.footer-support__desc Техническая поддержка 24/7
                        span.footer-support__value 8 495 032 66 87
                a.footer__mail(href="mailto:support@gurudesign.com")
                    +icon("mail")
                    | Support@gurudesign.com
        span.footer__copy &copy;&nbsp;GuruInterrior 2021-2025